OPENAI_API_KEY="{Your_API_KEY}"
LLM_MODEL="{Your_MODEL_NAME}"
LLM_BASE_URL="https://api.openai.com"
PINECONE_API_KEY="{Your_API_KEY}"
PINECONE_INDEX_NAME="embedops-rag-docs"
PINECONE_CLOUD="aws"
PINECONE_REGION="us-east-1"
EMBEDDING_MODEL="all-MiniLM-L6-v2"
EMBEDDING_NAMESPACE="emb_v1"
UPSERT_BATCH_SIZE=200